.btn {
  display: inline-block;
  padding: 7px 15px;
  margin-bottom: 0;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.input-group-btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: $yellow;
  color: $brand;
}

.btn-default {
  background-color: $yellow;
  color: $brand;
  &:hover,
  &:active {
    background-color: adjust_hue(desaturate(lighten($yellow, 8), 3), 0);
  }
}

.light-link {
  color: $light-text;
  &:hover {
    color: $lightyellow;
  }
}

.dark-link {
  color: $darkbrand;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn-chevron-down {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width:21px;
  height: 21px;
  border: 1px solid $darkgray;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  img {
    width: 11px;
  }
}

.button-qty-include-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-info-text {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: 300;
    color: $darkbrand;
  }
  .btn-to-cart {
    color: $darkbrand;
    text-decoration: none;
    background-color: $yellow;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      background-color: adjust_hue(desaturate(lighten($yellow, 8), 3), 0);
    }
    .btn-include-qty {
      display: none;
    }
  }
}

