// Width of one column
$col-width: 100% / 12;


.container {
  max-width: $container-max-width;
  width: $container-width;
  margin: 0 auto;
  padding: 0 ($col-gutter / 2);
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  max-width: $row-max-width;
  width: $row-width;
  box-sizing: border-box;
  margin: 0 (-$col-gutter / 2);

  &.no-gutter {
    padding: 0;
  }
  &.no-gutter-right {
    padding-right: 0;
  }
  &.no-gutter-left {
    padding-left: 0;
  }

  &.vert-gutter {
    padding-top: $col-gutter / 2;
    padding-bottom: $col-gutter / 2;
  }
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-reverse {
  flex-direction: column-reverse;
}

.row-break {
  width: 100%;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-offset-0,
.col-offset-1,
.col-offset-2,
.col-offset-3,
.col-offset-4,
.col-offset-5,
.col-offset-6,
.col-offset-7,
.col-offset-8,
.col-offset-9,
.col-offset-10,
.col-offset-11,
.col-offset-12 {
  flex: 0 0 auto;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 ($col-gutter / 2);

  &.no-gutter {
    padding: 0;
  }
  &.no-gutter-right {
    padding-right: 0;
  }

  &.no-gutter-left {
    padding-left: 0;
  }

  &.vert-gutter {
    padding-top: $col-gutter / 2;
    padding-bottom: $col-gutter / 2;
  }
}

.col,
.col-offset-0,
.col-offset-1,
.col-offset-2,
.col-offset-3,
.col-offset-4,
.col-offset-5,
.col-offset-6,
.col-offset-7,
.col-offset-8,
.col-offset-9,
.col-offset-10,
.col-offset-11,
.col-offset-12 {
  flex: 1 0 0;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex-basis: $col-width * $i;
    max-width: $col-width * $i;
  }
}

.col-offset-0 {
  margin-left: 0;
}

@for $i from 1 through 11 {
  .col-offset-#{$i} {
    margin-left: $col-width * $i;
  }
}

.row-left {
  justify-content: flex-start;
}

.row-center {
  justify-content: center;
}

.row-right {
  justify-content: flex-end;
}

.row-between {
  justify-content: space-between;
}

.row-around {
  justify-content: space-around;
}

.row-top {
  align-items: flex-start;
}

.row-middle {
  align-items: center;
}

.row-stretch {
  align-items: stretch;
}

.row-baseline {
  align-items: baseline;
}

.row-bottom {
  align-items: flex-end;
}

.col-top {
  align-self: flex-start;
}

.col-middle {
  align-self: center;
}

.col-bottom {
  align-self: flex-end;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.hidden {
  display: none;
}

.visible {
  display: block;

  &.row {
    display: flex;
  }
}

